.question{
    margin-top: 2%;
}

.question label{
    font-size: 16px;
    font-weight: 500;
}
// .question i{
//     margin-left: 29px;
// }
.quesIcon{
    margin-left: 29px;
}

ul li{
    margin-top: 1%;
}