<!-- <app-login></app-login>


<router-outlet></router-outlet> -->

<!-- <div class="sidenav ">
  <div class="sidebar_header">
   
        <a class="sidebar_brand"> Angular </a>
        <a class="toggle_sidebar" (click)="toggleMenu($event)"><i class="fa-solid fa-bars"></i></a>
  </div>

  <div class="sidebar_content">
    <ul class="text-left">
        <li>
            <a class="dropdown">
              <i class="fa-brands fa-slack"></i>
            <span class="title">Ang</span> 
            <i class="ti-angle-right"></i>
            </a>
            
        </li>
        <li>
          <i class="fa-brands fa-slack"></i>
            <a href="">about</a>
        </li>
        <li>
          <i class="fa-brands fa-slack"></i>
            <a href="">about</a>
        </li>

    </ul>
   
  </div>


</div> -->


<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Angular</h1>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
     
      <!-- <span class="menu-spacer"></span> -->
    </mat-toolbar-row>
  
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 300px;" opened="true" mode="side">
      <mat-nav-list>
        <a mat-list-item aria-current="page" routerLink="sidebar" routerLinkActive="active"> Side Bar Menu </a>
        <a mat-list-item routerLink="angularbasics"> Angular Basics </a>
        <a mat-list-item routerLink="routing"> Routing </a>
        <a mat-list-item routerLink="formvalidation"> Form Validtaions </a>
        <a mat-list-item routerLink="eventlistner"> Event Listner </a>
        <a mat-list-item routerLink="exceltemplete">Excel Templete</a>
        <a mat-list-item routerLink="services">Services</a>
        <!-- <a mat-list-item> Activities </a>
        <a mat-list-item> Create Activity </a> -->
        <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
          >Close</a
        > -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <!-- router outlet here -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  